/*© Christian Altiche, 2025*/ 

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    padding: 0;
    background-color: var(--theme-bg);
    color: var(--theme-color);
    transition: background-color 0.5s ease, color 0.5s ease,;
}

/* Light Theme */
[data-theme="light"] {
    --theme-bg: rgb(226, 226, 226);
    --theme-card-bg: rgb(231, 231, 231);
    --theme-color: rgb(54, 54, 54);
    --theme-color-hover: rgb(219, 219, 219);
}

/* Dark Theme */
[data-theme="dark"] {
    --theme-bg: rgb(48, 48, 48);
    --theme-card-bg: rgb(36, 36, 36);
    --theme-color: rgb(226, 226, 226);
    --theme-color-hover: rgb(46, 46, 46);

}

/* Color Palette */
[data-color="red"] { 
    --pallete-clr: rgb(255, 58, 58); /* Red */
}

[data-color="orange"] { 
    --pallete-clr: rgb(245, 145, 30); /* Orange */
}

[data-color="yellow"] { 
    --pallete-clr: rgb(255, 251, 26); /* Yellow */
}

[data-color="green"] { 
    --pallete-clr: rgb(37, 245, 30); /* Green */
}

[data-color="blue"] { 
    --pallete-clr: rgb(12, 97, 255); /* Blue */
}

[data-color="light-blue"] { 
    --pallete-clr: rgb(151, 188, 255); /* Light Blue */
}

[data-color="purple"] { 
    --pallete-clr: rgb(168, 2, 154); /* Purple */
}

[data-color="pink"] { 
    --pallete-clr: rgb(255, 192, 203); /* Pink */
}

:root {

    /*Colors*/
    --pallete-clr-red: rgb(255, 58, 58);
    --pallete-clr-orange: rgb(245, 145, 30);
    --pallete-clr-yellow: rgb(255, 251, 26);
    --pallete-clr-green: rgb(37, 245, 30);
    --pallete-clr-blue: rgb(12, 97, 255);
    --pallete-clr-light-blue: rgb(151, 188, 255);
    --pallete-clr-purple: rgb(168, 2, 154);
    --pallete-clr-pink: rgb(255, 192, 203);

    /*Shadow*/
    --card-shadow: -4px 8px 24px hsla(0, 0%, 23%, 0.466);
}

/*Typography*/

h1{
    font-size: 30px;
}

h3{
    font-size: 20px;
}

p{
    font-size: 10px;
}

.fw-normal {
    font-weight: 300;
}

.fw-semibold {
    font-weight: 400;
}

.fw-bold {
    font-weight: 500;
}

.fw-extrabold {
    font-weight: 700;
}

.text-light {
    color: var(--clr-light);
}



/* Navigation Bar */
.navbar{
    z-index: 4;
    display: flex;
    align-items: center;
    background-color: var(--theme-card-bg);
    width: 100%;
    height: 65px;
    position: fixed;
    padding: 10px;
    box-shadow: var(--card-shadow);
    transition: background-color 0.3s ease;
    transition: 0.3s ease-in-out;
}

.navbar-remain {
    display: flex;
    width: 30%;
}

.navbar-logo-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 25px;
    cursor: pointer;
}

.navbar-button-area {
    display: none;
    align-items: center;
    justify-content: center;
}

.navbar-logo {
    max-height: 40px;
    max-width: 40px;
}

.open-navbar {
    display: none;
}

.navbar-content {
    width: 70%;
    display: flex;
}

.navbar-list-area {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: end;
    padding-right: 30px;
}

.navbar-ul {
    display: flex;
}

.navbar-li {
    list-style-type: none;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 0.7px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 16px;
    color: var(--theme-color);
    transition: 0.1s ease-in-out;
}

.navbar-li:hover {
    color: var(--pallete-clr)
}

.navbar-li.active {
    color: var(--pallete-clr);
}

/* Theme Settings*/

.theme-settings {
    z-index: 2;
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: end;
    margin-top: 80px;
}

.theme-menus {
    display: block;
    cursor: pointer;
}

.theme-area {
    z-index: 99;
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--pallete-clr);
    background-color: var(--theme-card-bg);
    margin-right: 25px;
    border-radius: 30px;
    margin-bottom: 10px;
    transition: 0.2s ease-in-out;
    box-shadow: var(--card-shadow);
}

.theme-area:hover {
    background-color: var(--theme-color-hover);
}

.moon-icon {
    display: none;
}

.sun-icon {
    display: block;
}

.theme-pallete-menu {
    display: block;
    width: 50px;
    height: 325px;
    background-color: var(--theme-card-bg);
    border: 5px solid var(--theme-card-bg);
    border-radius: 3px;
    padding: 2px;
    box-shadow: var(--card-shadow);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0s 0.3s;
}

.theme-pallete-menu.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out, visibility 0s 0s;
}

.color-choice {
    width: 100%;
    height: 30px;
    transition: 0.1s ease-in-out;
    border-radius: 3px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: var(--pallete-clr);
}

.color-choice:hover {
    border: 2px solid var(--theme-color);
}

/* Main Contents */
.main-body {
    display: block;
    height: 100vh;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 6rem;
    padding-bottom: 2rem;
    background-image: url('../../assets/images/background/white-background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.8;
}

.card {
    display: block;
    height: 100%;
    width: 100%;
    background-color: var(--theme-card-bg);
    border: 4px solid var(--pallete-clr);
    padding: 1rem;
    border-radius: 5px;
}

.card-content {
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out;
}

.card-content.active {
    display: block;
    opacity: 1;
    visibility: visible;
}


/*
-----------------------------
The Responsive Area
----------------------------- 
*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 320px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    /* Navbar */
    .navbar {
        display: block;
        overflow-y: hidden;
    }
    
    .navbar-remain {
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: 3px;
    }
    .navbar-logo-box {
        display: flex;
        align-items: center;
        justify-content: start;
        width: 50%;
    }

    .navbar-button-area {
        display: flex;
        align-items: center;
        justify-content: end;
        padding-right: 25px;
        width: 50%;
    }

    .navbar-content {
        display: block;
        margin-top: 20px;
        width: 25%;
    }

    .open-navbar {
        display: block;
        cursor: pointer;
    }

    .close-navbar {
        display: none;
        cursor: pointer;
    }
    
    .open-navbar:hover, .close-navbar:hover {
        color: var(--pallete-clr);
    }

    .navbar-list-area {
        display: block;
        height: 100%;
        width: 100%;
        padding-right: 0;
    }

    .navbar-ul {
        display: block;
    }

    .navbar-li {
        margin: 20px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {

}