/*© Christian Altiche, 2025*/ 

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    padding: 0;
    background-color: var(--theme-bg);
    color: var(--theme-color);
    transition: background-color 0.5s ease, color 0.5s ease;
    display: block;
    text-align: justify;
}

/* Light Theme */
[data-theme="light"] {
    --theme-bg: rgb(226, 226, 226);
    --theme-card-bg: rgb(231, 231, 231);
    --theme-color: rgb(54, 54, 54);
    --theme-color-hover: rgb(219, 219, 219);
}

/* Dark Theme */
[data-theme="dark"] {
    --theme-bg: rgb(48, 48, 48);
    --theme-card-bg: rgb(36, 36, 36);
    --theme-color: rgb(226, 226, 226);
    --theme-color-hover: rgb(46, 46, 46);

}

/* Color Palette */
[data-color="red"] { 
    --pallete-clr: rgb(255, 93, 93); /* Red */
}

[data-color="orange"] { 
    --pallete-clr: rgb(245, 145, 30); /* Orange */
}

[data-color="yellow"] { 
    --pallete-clr: rgb(255, 251, 26); /* Yellow */
}

[data-color="green"] { 
    --pallete-clr: rgb(37, 245, 30); /* Green */
}

[data-color="blue"] { 
    --pallete-clr: rgb(12, 97, 255); /* Blue */
}

[data-color="light-blue"] { 
    --pallete-clr: rgb(151, 188, 255); /* Light Blue */
}

[data-color="purple"] { 
    --pallete-clr: rgb(168, 2, 154); /* Purple */
}

[data-color="pink"] { 
    --pallete-clr: rgb(255, 192, 203); /* Pink */
}

:root {

    /*Colors*/
    --pallete-clr-red: rgb(255, 93, 93);
    --pallete-clr-orange: rgb(245, 145, 30);
    --pallete-clr-yellow: rgb(255, 251, 26);
    --pallete-clr-green: rgb(37, 245, 30);
    --pallete-clr-blue: rgb(12, 97, 255);
    --pallete-clr-light-blue: rgb(151, 188, 255);
    --pallete-clr-purple: rgb(168, 2, 154);
    --pallete-clr-pink: rgb(255, 192, 203);

    /*Shadow*/
    --card-shadow: -4px 8px 24px hsla(0, 0%, 25%, 0.466);

    /*Body Scroll Bars*/
    .card::-webkit-scrollbar {
        width: 7px;
    }

    .card::-webkit-scrollbar-track {
        background: var(--theme-color-hover) /* color of the tracking area */
    }

    .card::-webkit-scrollbar-thumb {
        background-color: var(--pallete-clr);    /* color of the scroll thumb */
        border-radius: 20px;       /* roundness of the scroll thumb */
    }
}

/* Preloader */
.preloader {
    background-color: var(--theme-bg);
    z-index: 6;
    height: 100%;
    width: 100%;
    display: flex;
    opacity: 1;
    transition: 0;
    position: fixed;
}

.preloader-load-area {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-top: -100px;
}

.loader {
    width: 82px;
    height: 82px;
    border: 5px solid;
    border-color: rgb(255, 93, 93) transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

/* Overlay */
.overlay {
    background-color: var(--theme-bg);
    height: 100%;
    width: 100%;
    display: none;
    z-index: 4;
    position: fixed;
    opacity: 0.5;
    transition: 0.3s ease-in-out;
}

/*Typography*/

.card-header-text {
    display: flex;
    /* clamp (min, val, max) */
    font-size: clamp(21px, 2vw, 30px);
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.card-subheader-text {
    font-size: clamp(13px, 2vw, 80px);
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--pallete-clr);
}

.card-paragraph {
    font-size: clamp(13px, 2vw, 15px);
    font-weight: 400;
    margin-bottom: 10px;
}

.fw-bold {
    font-weight: bold;
} 

.pallete-clr {
    color: var(--pallete-clr);
}

/*Typography: Profile*/
.profile-name {
    font-size: clamp(17px, 3vw, 100px);
    font-weight: 700;
    margin-bottom: 1px;
}

.profile-card-header {
    font-size: clamp(16px, 2vw, 20px);
    cursor: pointer;
    text-align: center;
}

/* Typography: Skills */
.skills-paragraph {
    font-size: clamp(13px, 2vw, 15px);
}

/* Navigation Bar */
.navbar{
    z-index: 5;
    display: flex;
    align-items: center;
    background-color: var(--theme-card-bg);
    width: 100%;
    height: 65px;
    position: fixed;
    padding: 10px;
    box-shadow: var(--card-shadow);
    transition: background-color 0.3s ease;
    transition: 0.3s ease-in-out;
}

.navbar-remain {
    display: flex;
    width: 30%;
}

.navbar-logo-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 25px;
    cursor: pointer;
}

.navbar-button-area {
    display: none;
    align-items: center;
    justify-content: center;
}

.navbar-logo {
    max-height: 40px;
    max-width: 40px;
}

.open-navbar {
    display: none;
}

.navbar-content {
    width: 70%;
    display: flex;
}

.navbar-list-area {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: end;
    padding-right: 30px;
}

.navbar-ul {
    display: flex;
}

.navbar-li {
    list-style-type: none;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 0.7px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 16px;
    color: var(--theme-color);
    transition: 0.1s ease-in-out;
}

.navbar-li:hover {
    color: var(--pallete-clr)
}

.navbar-li.active {
    color: var(--pallete-clr);
}

/* Theme Settings*/

.theme-settings {
    z-index: 3;
    position: fixed;
    display: flex;
    justify-content: end;
    margin-top: 80px;
    right: 0;
}

.theme-menus {
    display: block;
    cursor: pointer;
}

.theme-area {
    z-index: 3;
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--pallete-clr);
    background-color: var(--theme-card-bg);
    margin-right: 25px;
    border-radius: 30px;
    margin-bottom: 10px;
    transition: 0.2s ease-in-out;
    box-shadow: var(--card-shadow);
}

.theme-area:hover {
    background-color: var(--theme-color-hover);
}

.moon-icon {
    display: none;
}

.sun-icon {
    display: block;
}

.theme-pallete-menu {
    display: none;
    width: 50px;
    height: 325px;
    background-color: var(--theme-card-bg);
    border: 5px solid var(--theme-card-bg);
    border-radius: 3px;
    padding: 2px;
    box-shadow: var(--card-shadow);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0s 0.3s;
}

.theme-pallete-menu.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out, visibility 0s 0s;
}

.color-choice {
    width: 100%;
    height: 30px;
    transition: 0.1s ease-in-out;
    border-radius: 3px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: var(--pallete-clr);
}

.color-choice:hover {
    border: 2px solid var(--theme-color);
}

/* Main Contents */
.main-body {
    display: block;
    height: 100vh;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 4rem;
}

.card {
    display: block;
    height: 100%;
    width: 100%;
    background-color: var(--theme-card-bg);
    padding: 2rem;
    border-radius: 6px;
    box-shadow: var(--card-shadow);
    overflow-y: scroll;
    overflow-x: hidden;
}

.card-content {
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out;
}

.card-content.active {
    display: block;
    opacity: 1;
    visibility: visible;
}

/* Profile Section*/
.card-profile-intro {
    display: block;
    height: auto;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: var(--theme-bg);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: var(--card-shadow);
    border: 2px solid var(--pallete-clr);
}

.profile-picture-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    margin-bottom: 10px;
}

.profile-picture {
    width: 100%;
    height: auto;
    max-height: 200px;
    max-width: 200px;
    border: 3px solid var(--pallete-clr);
    border-radius: 100px;
    cursor: pointer;
    box-shadow: var(--card-shadow);
}

.profile-text-area {
    display: block;
    width: 100%;
    height: auto;
}

.profile-flex{
    display: flex;
    justify-content: center;
}
.profile-contacts {
    display: flex;
    justify-content: center;
    width: auto;
    margin-top: 10px;
}


.contact-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: var(--theme-color-hover);
    border-radius: 50px;
    transition: 0.3s ease-in-out;
    border: 2px solid var(--theme-card-bg);
    color: var(--pallete-clr);
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.contact-box:hover {
    border: 2px solid var(--pallete-clr);
}

.profile-card-area {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: repeat(2, 2fr);
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.profile-card {
    display: block;
    background-color: var(--theme-color-hover);
    border-radius: 15px;
    transition: 0.3s ease-in-out;
    border: 2px solid var(--pallete-clr);
    max-height: 400px;
    width: 100%;
    padding: 1rem;
}

.profile-card-icon-area {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.profile-card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    color: var(--pallete-clr);
    height: 50px;
    width: 50px;
    background-color: var(--theme-card-bg);
    border: 2px solid var(--theme-color-hover);
    transition: 0.3s ease-in-out;
}

.profile-card-icon:hover {
    border: 2px solid var(--pallete-clr);
}

.profile-flex-center {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile-education-area {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
}

.profile-education-box {
    border: 2px solid var(--pallete-clr);
    background-color: var(--theme-bg);
    width: 100%;
    height: auto;
    max-height: 700px;
    border-radius: 20px;
    padding: 1rem;
}

.profile-education-logo-area {
    width: 100%;
    display: flex;
    justify-content: center;
    max-height: 100px;
}

.profile-education-logo {
    width: 100%;
    max-width: 100px;
    max-height: 100px;
    cursor: pointer;
}

/* Experiences Section */

.experience-content {
    margin-top: 20px;
    width: 100%;
    display: block;
    border-left: 3px solid var(--pallete-clr);
}

.experience-content-box {
    display: block;
    width: 100%;
    height: auto;
    padding-left: 5px;
    margin-bottom: 30px;
}

.experience-point {
    height: 20px;
    width: 20px;
    background-color: var(--theme-card-bg);
    border: 5px solid var(--pallete-clr);
    border-radius: 50px;
    margin-left: -16px;
    margin-top: -2px;
}

.experience-content-area {
    display: block;
    padding-left: 1rem;
    margin-top: -2.2rem;
}

.experience-content-list {
    padding-left: 30px;
}

.experience-list-li {
    margin-top: 15px;
    margin-bottom: 15px;
}

 /* Skills Section */

 .skills-area {
    width: 100%;
    padding: 1rem;
    margin-top: 10px;
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: repeat(2, 2fr);
 }

 .skills-list-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--theme-bg);
    height: 50px;
    cursor: pointer;
    border: 1px solid var(--pallete-clr);
    border-radius: 10px;
    transition: 0.3s ease-in-out;
 }

 .skills-list-box:hover {
    background-color: var(--theme-card-bg);
 }

 .skills-stars-area {
    margin-left: 10px;
    margin-right: 10px;
    color: var(--pallete-clr);
 }

 /* Projects Section  */

.projects-area {
    margin-top: 10px;
    width: 100%;
    padding: 1rem;
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: repeat(2, 2fr);
}

.projects-item {
    display: block;
    width: 100%;
    height: auto;
    max-height: 650px;
    background-color: var(--theme-bg);
    border-radius: 20px;
    border: 2px solid var(--pallete-clr);
    transition: 0.3s ease-in-out;
    padding: 1rem;
    cursor: pointer;
}

.projects-item:hover {
    background-color: var(--theme-card-bg);
}

.projects-logo-area {
    height: auto;
    max-height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-logo {
    width: auto;
    height: auto;
    max-height: 100px;
    max-width: 200px;
}

.project-flex-center {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.project-item-footer {
    display: flex;
    justify-content: start;
    padding: 1rem;
    height: auto;
    background-color: var(--theme-card-bg);
    border-radius: 5px;
}

 /* Blogs Section  */

.blogs-area {
    margin-top: 20px;
    width: 100%;
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-columns: repeat(2, 2fr);
}

.blogs-item {
    display: block;
    width: 100%;
    max-height: 350px;
    height: auto;
    background-color: var(--theme-bg);
    border-radius: 20px;
    border: 2px solid var(--pallete-clr);
    transition: 0.3s ease-in-out;
}

.blogs-image-area {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.blog-thumbnail {
    width: 100%;
    height: 100%;
    max-height: 250px;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.blog-thumbnail:hover {
    transform: scale(0.98)
}

.blog-item-content {
    display: block;
    padding-left: .5rem;
    padding-right: .5rem;
    height: auto;
}

/* Hyperlink Disabled Style */

a {
    text-decoration: none;
    color: inherit;
}

/*
-----------------------------
The Responsive Area
----------------------------- 
*/

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    /* Navbar */
    .navbar {
        display: block;
        overflow-y: hidden;
    }
    
    .navbar-remain {
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: 3px;
    }
    .navbar-logo-box {
        display: flex;
        align-items: center;
        justify-content: start;
        width: 50%;
    }

    .navbar-button-area {
        display: flex;
        align-items: center;
        justify-content: end;
        padding-right: 25px;
        width: 50%;
    }

    .navbar-content {
        display: block;
        margin-top: 20px;
        width: 25%;
    }

    .open-navbar {
        display: block;
        cursor: pointer;
    }

    .close-navbar {
        display: none;
        cursor: pointer;
    }
    
    .open-navbar:hover, .close-navbar:hover {
        color: var(--pallete-clr);
    }

    .navbar-list-area {
        display: block;
        height: 100%;
        width: 100%;
        padding-right: 0;
    }

    .navbar-ul {
        display: block;
    }

    .navbar-li {
        margin: 20px;
    }

    /* Main Content*/

    .main-body {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    /* Blogs Section  */

    .blogs-area {
        grid-template-columns: repeat(2, 2fr);
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    /* Profile Section*/
    .card-profile-intro {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .profile-contacts {
        display: grid;
        column-gap: 10px;
        row-gap: 10px;
        grid-template-columns: repeat(3, 3fr);
        justify-self: center;
        align-items: center;
    }

    .profile-card-area {
        grid-template-columns: repeat(1, 2fr);
    }

    .profile-education-area {
        display: grid;
        column-gap: 10px;
        row-gap: 10px;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }

    /* Skills Section */

    .skills-area {
        margin-top: 10px;
        display: grid;
        column-gap: 1px;
        grid-template-columns: repeat(1, 1fr);
    }

    /* Projects Section  */

    .projects-area {
        grid-template-columns: repeat(1, 1fr);
    }

    /* Blogs Section  */

    .blogs-area {
        grid-template-columns: repeat(1, 1fr);
    }

}

/*Custom Responsive #1*/
@media only screen and (max-width: 450px) {
    /* Profile Section*/
    .profile-contacts {
        display: grid;
        column-gap: 10px;
        row-gap: 10px;
        grid-template-columns: repeat(2, 2fr);
        justify-self: center;
        align-items: center;
    }

    .profile-card-area {
        grid-template-columns: repeat(1, 1fr);
    }

    /* Skills Section */

    .skills-stars-area {
        margin-left: 5px;
        margin-right: 5px;
        color: var(--pallete-clr);
     }

     /* Projects Section  */

    .projects-area {
        column-gap: 0;
    }

    .projects-logo {
        width: 100px;
        height: auto;
    }

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 350px) {
    /* Profile Section*/
    .card-profile-intro {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .profile-card-area {
        grid-template-columns: repeat(1, 2fr);
    }
}